<div>

    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>
<div>
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened>
            <div>
                <ul class="nav-elements">
                    <li (click)="navigate('Employee')" routerLink="/home/users" routerLinkActive="linkActive">
                        <a >
                            <small>
                                <mat-icon>person</mat-icon>
                            </small>
                            <span>Employee</span>
                        </a>
                    </li>
                    <li routerLink="/home/settings" routerLinkActive="linkActive">
                        <a>
                            <small>
                                <mat-icon>settings</mat-icon>
                            </small>
                            <span>
                                Settings
                            </span>
                        </a>

                    </li>
                    <li routerLink="/home/projects" routerLinkActive="linkActive">
                        <a href="">
                            <small>
                                <mat-icon>view_module</mat-icon>
                            </small><span>Projects</span>
                        </a>
                    </li>
                </ul>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>